<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Breed}}</h1>
<h2>{{.Size}}</h2>
{{if .KillOnCommand}}
<h3>Kill On Command</h3>
{{else}}
<h3>Ill On Command</h3>
{{end}}
</body>
</html>